div.h1 {
  max-width:100%;
  /*max-height: :0px;*/
  height: 122px;
  margin: auto;
  padding-top: 0px;
  background-color: #207561;
}

body {margin: 0;}

ul.topnav {
  position: -webkit-sticky; /* Safari */
  width: 100%;
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #F6D365;
  /*color: white;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

strong.text_header_temp{
  color: #F6D365;
  font:;
}

/*.footer {
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: red;
 color: white;
 text-align: center;
}*/

a.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  background-color: blue;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}

body.new{
  margin: 0;
  height: 1500px;

}